/*
!/.gitignore
!/.gitattributes
!/README.md
!/AGENTS.md

!/Library/
!/Library/**

!/Projects/
!/Projects/**

/Land/
/Tools/
/jetbra/

Library/**/.obsidian/workspace*.json
Library/**/.obsidian/cache/
Library/**/.obsidian/plugins/
Library/**/.obsidian/community-plugins.json
Library/**/.obsidian/themes/
Library/**/.trash/

**/.idea/
**/.vscode/
**/*.iml

Projects/**/bin/
Projects/**/dist/
Projects/**/build/
Projects/**/out/
Projects/**/*.exe
Projects/**/*.test
Projects/**/*.prof
Projects/**/*.out
Projects/**/vendor/

Projects/**/node_modules/
Projects/**/package-lock.json
Projects/**/pnpm-lock.yaml
Projects/**/yarn.lock

**/*.log
**/tmp/
**/temp/
**/.cache/
**/*.zip
**/*.rar
**/*.7z
**/*.tar
**/*.gz
